h1
{
    color: rgba(153, 0, 0, 0.959);
    font-family: 'Great Vibes', cursive;
}

h2
{
    color: rgb(144, 3, 3);
    font-family: 'Great Vibes', cursive;
}
h3 {
    font-family: 'Great Vibes', cursive;
}
body{
    background-color: black;
    font-family: 'Noto Nastaliq Urdu', serif;
}
table
{

    color: rgb(126, 8, 8); 
}


#jabal{
    color: rgb(110, 14, 14);    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }